@page "/fetchchaindata"
@using WonkaBlazorWebApp.Shared
@inject HttpClient Http

<h1>Peek at Data on the Chain</h1>

<p>This component demonstrates how to inspect data on the chain.</p>

<div>
    <div class="row">
        <div class="col-sm-3">
            <label for="attrSelect1">Pick Attribute</label>
            <!--
            <select class="form-control" id="attrSelect1">
                <option>NewSalesTransSeq</option>
                <option>NewVATAmountForHMRC</option>
                <option>NewSellTaxAmount</option>
                <option>NewSalePrice</option>
            </select>
            -->
            <!-- 
            @if (attrNameList != null)
            {
                <select id="attrSelect1" value=@attrName >
                    <option value="0"></option>
                    @foreach (var tmpAttrName in attrNameList)
                    {
                        <option value="@tmpAttrName">@tmpAttrName</option>
                    }
                </select>
            }
            -->
            <input placeholder="NewVATAmountForHMRC" bind="@attrName" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label>Attribute Value</label>
        </div>
        <div class="col-sm-4">
            <p>@attrValue</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2">
            <button onclick="@GetValue" class="btn btn-primary">Get Value</button>
        </div>
        <div class="col-sm-2">
            <button onclick="@Refresh" class="btn btn-info">Refresh</button>
        </div>

    </div>
</div>

@functions {

    string[] attrNameList = new string[] { "NewSalesTransSeq", "NewVATAmountForHMRC", "NewSellTaxAmount", "NewSalePrice" };

    string attrName  = "NewVATAmountForHMRC";
    string attrValue = "dummyVal";

    protected override async Task OnInitAsync()
    {
        // attrValue = await Http.GetJsonAsync<string>("api/chain?name=" + attrName);
    }

    private async Task GetValue()
    {
        Dictionary<string,string> record = await Http.GetJsonAsync<Dictionary<string,string>>("api/chain?name=" + attrName);

        if (record.ContainsKey(WBWAConstants.CONST_CHAIN_RECORD_KEY_ATTR_VAL))
        {
            attrValue = record[WBWAConstants.CONST_CHAIN_RECORD_KEY_ATTR_VAL];
        }
    }

    private async Task Refresh()
    {
        if (String.IsNullOrEmpty(attrValue))
        {
            attrValue = await Http.GetJsonAsync<string>("api/chain?name=" + attrName);
        }
    }

}
