@page "/storemarkup"

@inherits StoreMarkupIndexModel

<h1>Submit Markup for Storage</h1>

<p>This component demonstrates how to submit markup for a RuleTree, so that it can be stored for later retrieval.</p>

<div>
    <div class="row">
        <div class="col-sm-3">
            <p>Rules Markup</p>
        </div>
    </div>
    <div class="row">

        <!--
        <div class="col-md-4">
            <textarea placeholder="Enter Rules Markup" class="form-control" bind="@rulesMarkup" rows="20" />
        </div>
        -->
        
        <div class="row">
            <MonacoEditor EditorModel="@editorModel" Width="1200" Height="450" />
        </div>

    </div>
    <!--
    <input type="file" class="form-control-file" id="exampleFormControlFile1" bind="@rulesFile" />
    <br />
        <div class="row">
            <div class="col-sm-2">
                <button onclick="@LoadFromFile" class="btn btn-primary">Load from File</button>
            </div>
        </div>
    -->
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3">
            <p>New Storage URL</p>
        </div>
        <div class="col-sm-4">
            <p>@markupKey</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <button onclick="@Submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2">
            <button onclick="@GetStatus" class="btn btn-info">Get Status</button>
        </div>
    </div>
</div>
