@page "/storemarkup"
@inject HttpClient Http
@inject HttpClient httpClient

<h1>Submit Markup for Storage</h1>

<p>This component demonstrates how to submit markup for a RuleTree, so that it can be stored for later retrieval.</p>

<div>
    <div class="row">
        <div class="col-sm-3">
            <p>Rules Markup</p>
        </div>
        <div class="col-md-4">
            <textarea placeholder="Enter Rules Markup" class="form-control" bind="@rulesMarkup" rows="20" />
            <!--<textarea placeholder="Enter Rules Markup" class="col col-lg-2" bind="@rulesMarkup" rows="20" />-->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <p>Generated Key</p>
        </div>
        <div class="col-sm-4">
            <text readonly bind="@markupKey" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <button onclick="@Submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-2">
            <button onclick="@GetStatus" class="btn btn-info">Get Status</button>
        </div>
    </div>
</div>

@functions {

    string rulesMarkup;
    string markupKey;

    private async void GetStatus()
    {
        /*
        if (requestDone)
        {
            finalresult = "Done!";
        }
        */
    }

    protected override async Task OnInitAsync()
    {
        rulesMarkup =
@"<?xml version=""1.0""?>
<RuleTree xmlns:xsd=""http://www.w3.org/2001/XMLSchema"" xmlns:xsi=""http://www.w3.org/2001/XMLSchema-instance"">

   <if description=""Start a new sales transaction"">
      <criteria op=""AND"">
         <eval id=""pop1"">(N.NewSalesTransSeq) POPULATED</eval>
		 <eval id=""asn1"">(N.NewSalesTransSeq) ASSIGN ('1')</eval>
      </criteria>

      <if description=""Checking Input Values"">
           <criteria op=""AND"">
               <eval id=""pop2"">(N.NewSaleEAN) POPULATED</eval>
			   <eval id=""asn2"">(N.NewSalesTransSeq) ASSIGN ('2')</eval>
           </criteria>

           <validate err=""severe"">
               <criteria op=""AND"">
                   <eval id=""cmp2"">(N.NewSalePrice) GT (0.00)</eval>
				   <eval id=""asn3"">(N.NewSalesTransSeq) ASSIGN ('3')</eval>
               </criteria>

               <failure_message>ERROR!  Required inputs for VAT calculation have not been provided.</failure_message>
               <success_message/>
           </validate>
		   
		  <validate err=""severe"">
               <criteria op=""AND"">
                   <eval id=""cmp2"">(N.NewSalePrice) LT (1000000.00)</eval>
				   <eval id=""asn4"">(N.NewSalesTransSeq) ASSIGN ('4')</eval>
               </criteria>

               <failure_message>ERROR!  Required inputs for VAT calculation exceed maximum allowed value.</failure_message>
               <success_message/>
           </validate>

       </if>	   
   </if>        
</RuleTree>
";

        markupKey = "dummyKey";
    }

    private async void Submit()
    {
        // var response = httpClient.GetAsync("http://localhost:56653/api/markup?markupid=http://localwonkacache/7f5e9416-249a-4151-9db8-da2888ac0ab2").Result;

        /*
        await Http.SendJsonAsync<WonkaBlazorWebApp.Shared.WBWAOwner>(System.Net.Http.HttpMethod.Post, "api/treeowner", newOwner);

        finalresult = "Done!";
        */
    }

}
